:root[data-theme="dark"] {
  --DARKER: #323232;
  --DARK: #383838;
  --LIGHT: #414141;
  --LIGHTER: #484848;

  --THEMESWITCH: #c2c2c2;
  --THEMESWITCHBG: #414141;

  --TEXT: #c2c2c2;
  --PRETEXT: lightblue;
  --TABLETEXT: darkseagreen;
}

:root[data-theme="light"] {
  --DARKER: #e9e9e9;
  --DARK: #ffffff;
  --LIGHT: #d6d6d6;
  --LIGHTER: #ffffff;

  --THEMESWITCH: #ffffff;
  --THEMESWITCHBG: #c2c2c2;

  --TEXT: #000000;
  --PRETEXT: #000000;
  --TABLETEXT: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  color: var(--TEXT);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  max-height: 100vh;
}

section {
  height: 100vh;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  user-select: none;
}

pre {
  align-self: center;
  color: var(--PRETEXT);
  background-color: var(--DARKER);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 98%;
}

pre::selection {
  color: var(--DARKER);
  background-color: var(--PRETEXT);
}

pre a[href] {
  color: var(--PRETEXT);
}

pre a[href]:hover {
  background-color: var(--PRETEXT);
}

a[href] {
  color: var(--TEXT);
  font-weight: bold;
}

a[href]:hover {
  color: var(--DARKER);
  background-color: var(--TEXT);
}

::selection {
  background: var(--TEXT);
  color: var(--DARKER);
}

input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--LIGHT);
  border: 2px solid var(--DARKER);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  vertical-align: middle; /* Vertically center in label */
  box-shadow: inset 0px 0px 2px 1px black;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--TEXT);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* ====NAV SECTION==== */
#navSection {
  background-color: var(--DARK);
  grid-column: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#navListDiv {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 100vh;
  height: 100%;
  min-height: 0;
  width: 100%;
  margin-left: auto;
}

#navList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  max-height: 100%;
  min-height: 0;
  cursor: default;
  overflow-x: hidden;
  overflow-y: auto;
}

#navList::-webkit-scrollbar {
  display: none;
}

#packagesListDiv {
  display: none;
  margin: 5px 0px;
}

.mainSelection {
  display: flex;
  font-size: x-large;
  width: 95%;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: var(--DARKER);
  box-shadow: inset 0px 0px 2px 1px black;
  user-select: none;
}

.mainSelection:hover,
.mainSelection:active {
  background-color: var(--LIGHTER);
}

.mainSelection:last-of-type {
  margin-bottom: 5px;
}

.listElementDiv {
  padding: 5px 10px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

#manualsListDivScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

#containerListDiv {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 0px;
  width: 95%;
  flex: 1 1 auto;
  min-height: 0;
  background-color: var(--DARKER);
  box-shadow: inset 0px 0px 3px 1px black;
}

.navigationListElement {
  display: flex;
  max-width: 100%;
  font-size: medium;
  margin-top: 2px;
  padding: 4px;
  text-align: start;
  overflow: visable;
  position: relative;
}

.navigationListElement:hover {
  background-color: var(--DARK);
  border-radius: 2px;
}

.navigationListElement.active {
  background-color: var(--TEXT);
  color: var(--DARK);
  border-radius: 2px;
}

.navigationListElementText {
  width: 100%;
}

.navigationListElementTextFull {
  display: flex;
  max-width: 100%;
  font-size: medium;
  margin-top: 0px;
  padding: 4px;
  text-align: start;
  position: absolute;
  width: fit-content;
  pointer-events: none;
  background-color: var(--LIGHT);
  border-radius: 2px;
}

.groupHead {
  font-size: 18px;
  font-weight: bold;
}

.searchItem {
  white-space: wrap;
}

#nav-float-layer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

#navSearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: black solid 2px;
}

.searchBar {
  background-color: var(--LIGHTER);
  color: var(--TEXT);
  border: none;
  padding: 6px 10px;
  width: 90%;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px 1px black;
  font-size: 16px;
}

.searchBar:focus {
  outline: none;
}

/* ====CONTENT SECTION==== */
#contentSection {
  background-color: var(--LIGHTER);
  grid-column: 2;
  align-items: center;
  box-shadow: inset 5px 0px 12px -8px black, inset -5px 0px 12px -8px black;
}

#contentDiv {
  display: flex;
  flex-flow: column;
  align-items: start;
  padding: 15px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#introLogo {
  width: 350px;
  height: auto;
  padding: 10px 0px;
}

.docHead {
  width: 100%;
  text-align: start;
  border: solid black 1px;
  border-radius: 5px;
}

.docName {
  padding: 10px;
  background-color: var(--DARKER);
  border-radius: 5px 5px 0px 0px;
}

.docTitle {
  padding: 10px;
  background-color: var(--DARK);
  border-radius: 0px 0px 5px 5px;
}

.manualDiv {
  display: flex;
  flex-flow: column wrap;
  border-radius: 5px;
  background-color: var(--LIGHT);
}

.manualDiv ul {
  margin-left: 1em;
  list-style-position: inside;
}

.manualDiv hr:last-child {
  display: none;
}

.chapterDiv {
  width: 100%;
  margin: 10px 0px;
  padding: 10px 15px;
  border: 2px solid var(--DARKER);
}

.overloadDiv {
  margin-left: 3px;
}

.overloadDiv:not:last-child {
  margin-bottom: 10px;
}

.sectionDiv {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  padding: 10px 15px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.sectionDiv:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.sectionDiv div {
  margin-left: 3px;
}

.subsectionDiv {
  margin: 0px;
  padding-bottom: 0px;
}

.subsubsectionDiv {
  margin: 0px;
  padding-bottom: 0px;
}

.subroutineDiv {
  margin-bottom: 15px;
  padding: 5px;
  border: var(--DARKER) 2px solid;
  border-radius: 5px;
}

.manualHeader {
  width: 100%;
  align-self: start;
  margin-bottom: 10px;
  text-align: start;
  font-size: 26px;
  font-weight: bold;
  border-bottom: var(--DARKER) 5px solid;
  cursor: default;
}

.sectionHeader {
  font-size: 24px;
  margin-bottom: 0px;
}

.subsectionHeader {
  font-size: 20px;
  border: none;
}

.subsubsectionHeader {
  font-size: 18px;
}

.manualText p {
  margin-bottom: 5px;
}

.manualText ol {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
  list-style: none;
}

.manualText ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin: 10px 1em;
}

.manualText ul:last-child {
  margin-bottom: 0px;
}

.chapterText {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.chapterText p {
  width: 100%;
  align-self: center;
}

.sectionText {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.sectionText p {
  width: 100%;
}
.manualCall {
  font-size: 20px;
  font-weight: bold;
}

.manualSubText {
  margin-top: 5px;
}

.manualSubText .parameter {
  color: rgb(235, 233, 118);
}

.manualOption {
  margin-left: 1em !important;
  margin-bottom: 10px;
}

.manualOption:last-child {
  margin-bottom: 0px;
}

.optionCall {
  font-size: 16px;
  font-weight: bold;
}

#optionsTableDiv {
  width: fit-content;
  background-color: var(--DARKER);
  margin-left: 1em;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.optionsTable {
  color: var(--TABLETEXT);
  padding: 10px 10px;
  border-radius: 5px;
}

.optionsTable *::selection {
  color: var(--DARKER);
  background-color: var(--TABLETEXT);
}

.optionsTable a {
  color: inherit;
}

.optionsTable a:hover {
  background-color: var(--TABLETEXT);
}

th {
  text-align: start;
}

th,
td {
  padding-right: 3em;
}

.foldoutDiv {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: var(--DARK);
  padding: 5px;
  border-radius: 5px;
}

.foldoutData {
  margin-top: 3px;
  text-align: start;
  font-size: 16px;
  font-weight: bolder;
  cursor: default;
  user-select: none;
}

.foldoutLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foldoutButton {
  all: unset;
  color: var(--TEXT);
}

.foldoutSubDiv {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease !important;
}

.manualDiagnostic {
  color: rgb(255, 59, 59);
  margin-top: 3px;
}

.highlight {
  background-color: var(--TEXT);
  color: var(--DARKER);
  border-radius: 5px;
}

.highlight a[href] {
  color: var(--DARKER);
}

.highlight a[href]:hover {
  color: var(--TEXT);
  background-color: var(--DARKER);
}

.highlight tr {
  background-color: var(--TABLETEXT);
}

.can-fade {
  transition: background-color 1s ease, color 1s ease, border-radius 1s ease;
}

.can-fade tr {
  transition: background-color 1s ease;
}

/* ====METHODS/DIAGNOSTICS PAGE==== */
.docHeadMethod {
  width: 100%;
  text-align: start;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-radius: 5px 5px 0px 0px;
}

.methodPageSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: var(--LIGHT);
}

.diagnosticsPageSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  border-left: black 1px solid;
  border-right: black 1px solid;
  border-bottom: black 1px solid;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: var(--LIGHT);
}

.methodPageLabel {
  background-color: var(--DARK);
  padding: 3px 8px;
  border-radius: 15px;
  border: var(--DARKER) 2px solid;
}

/* ====DETAILS PAGE==== */
#detailsListsDiv {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 1em;
  background-color: var(--LIGHT);
  border-radius: 5px;
}

#detailsListsDiv div {
  width: 49%;
  height: fit-content;
  border: black solid 1px;
  background-color: var(--DARK);
  border-radius: 5px;
  padding: 10px;
}

.detailsList {
  padding-left: 30px;
}

.detailsListItem a {
  text-decoration: none;
}

/* ====RELATIONS SECTION==== */
#relationsSection {
  background-color: var(--DARK);
  grid-column: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

#relationsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

#relationsDiv a {
  text-decoration: none;
}

#generalOptions {
  display: grid;
  justify-items: start;
  gap: 20px;
  padding: 15px;
  margin: 10px 0px;
  width: 95%;
  background-color: var(--DARKER);
  box-shadow: inset 0px 0px 3px 1px black;
}

#pageOptions {
  /*border: solid yellow 1px;*/
  display: grid;
  justify-items: start;
  gap: 20px;
  padding: 15px;
  margin: 10px 0px;
  width: 95%;
  background-color: var(--DARKER);
  box-shadow: inset 0px 0px 3px 1px black;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

#currentPageDisplay {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#currentPageManual {
  font-size: 18px;
}

#currentPageDistro {
  font-size: 16px;
}

.pageOptionsPreferences {
  display: flex;
  flex-direction: column;
  font-size: large;
  width: 100%;
  justify-content: start;
  align-content: center;
}

#preferencesDiv {
  display: flex;
  flex-direction: column;
}

#pageOptionsMethods {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-content: center;
}

#pageOptionsMethodsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  font-size: medium;
}

#pageOptionsMethodsList label::after {
  content: ",";
}

#pageOptions .searchBar {
  justify-self: center;
  width: 95%;
}

#pageOptions h3 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

#indexList {
  justify-self: start;
  padding-left: 13px;
  font-size: 20px;
}

#indexList a {
  text-decoration: none;
}

#indexList ::marker {
  content: "- ";
}

#indexSubList {
  font-size: 18px;
  margin-left: 15px;
}

#indexSubList ::marker {
  content: "- ";
}

#letterTabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  user-select: none;
}

.letterTabsItem {
  margin-right: 5px;
  font-size: 20px;
}

.letterTabsItem:last-of-type {
  margin-right: 0px;
}

.letterTabsItem a {
  text-decoration: none;
}

#typeTabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  user-select: none;
  font-size: 20px;
  gap: 15px;
}

#methodsManualListDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 15px;
  overflow-y: hidden;
  width: 100%;
  background-color: var(--DARK);
  box-shadow: inset 0px 0px 3px 1px black;
}

#methodsManualList {
  height: 100%;
  list-style-type: none;
  user-select: none;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.methodsManualListItem a {
  text-decoration: none;
}

.relationsDivider {
  opacity: 0;
  margin: 15px 0px;
  justify-self: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--THEMESWITCHBG);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--THEMESWITCH);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--THEMESWITCHBG);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa-moon {
  position: relative;
  padding-top: 9px;
  padding-left: 10px;
  color: var(--DARKER);
  transition: 0.4s;
}

.fa-sun {
  position: relative;
  padding-top: 9px;
  padding-left: 35px;
  color: var(--TEXT);
  transition: 0.4s;
}

/* The switch - the box around the slider */
.methodsSwitch {
  justify-self: center;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 35px;
  border: black 1px solid;
}

/* Hide default HTML checkbox */
.methodsSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.methodsSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--LIGHTER);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.methodsSlider:before {
  position: absolute;
  content: "";
  height: 31px;
  width: 124px;
  top: 1px;
  left: 1px;
  background-color: var(--DARK);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .methodsSlider:before {
  -webkit-transform: translateX(123px);
  -ms-transform: translateX(123px);
  transform: translateX(122px);
}

#methodSliderText {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  bottom: 25%;
}

/* ====ULTRAWIDE==== */
@media only screen and (min-width: 1200px) {
}
