:root {
  --DARK: #383838;
  --DARKER: #323232;
  --LIGHTER: #484848;
  --LIGHT: #414141;
  --TEXT: #c2c2c2;
  --TABLETEXT: darkseagreen;
  --PRETEXT: lightblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  color: var(--TEXT);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

section {
  height: 100vh;
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  user-select: none;
}

::selection {
  background: var(--TEXT);
  color: var(--DARKER);
}

/* ====NAV SECTION==== */
#navSection {
  background-color: var(--DARK);
  grid-column: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

#navListDiv {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 100%;
  min-height: 0;
  width: 100%;
  max-width: 310px;
  margin-left: auto;
}

#navList {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: default;
  overflow-x: hidden;
}

#navList::-webkit-scrollbar {
  display: none;
}

#packagesListDiv {
  display: none;
  margin: 5px 0px;
}

.mainSelection {
  display: flex;
  font-size: x-large;
  width: 95%;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: var(--DARKER);
  box-shadow: inset 0px 0px 2px 1px black;
  user-select: none;
}

.mainSelection:hover,
.mainSelection:active {
  background-color: var(--LIGHTER);
}

.mainSelection:last-of-type {
  margin-bottom: 5px;
}

.navListIcon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  padding-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.listElementDiv {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin-left: 15px;
  width: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.navigationListElement {
  display: flex;
  max-width: 100%;
  font-size: medium;
  margin-top: 2px;
  padding: 4px;
  text-align: start;
  overflow: visable;
  position: relative;
}

.navigationListElement:hover {
  background-color: var(--DARKER);
  border-radius: 2px;
}

.navigationListElement.active {
  background-color: var(--TEXT);
  color: var(--DARK);
  border-radius: 2px;
}

.navigationListElementText {
  width: 100%;
}

.navigationListElementTextFull {
  display: flex;
  max-width: 100%;
  font-size: medium;
  margin-top: 0px;
  padding: 4px;
  text-align: start;
  position: absolute;
  width: fit-content;
  pointer-events: none;
  background-color: var(--LIGHT);
  border-radius: 2px;
}

#nav-float-layer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

#navSearchDiv {
  background-color: var(--DARKER);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  height: 50px;
  min-height: 50px;
  border-top: black 2px solid;
}

#navSearchBar {
  background-color: var(--LIGHTER);
  color: var(--TEXT);
  border: none;
  padding: 6px 10px;
  width: 90%;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px 1px black;
  font-size: 16px;
}

#navSearchBar:focus {
  outline: none;
}

/* ====CONTENT SECTION==== */
#contentSection {
  background-color: var(--LIGHTER);
  grid-column: 2;
  align-items: center;
  box-shadow: inset 8px 0px 12px -8px black;
}

#contentDiv {
  display: flex;
  flex-flow: column;
  align-items: start;
  padding: 15px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#introLogo {
  width: 350px;
  height: auto;
  padding: 10px 0px;
}

.docHead {
  width: 100%;
  text-align: start;
  border: solid black 1px;
  border-radius: 5px;
}

.docName {
  padding: 10px;
  background-color: var(--DARKER);
  border-radius: 5px 5px 0px 0px;
}

.docTitle {
  padding: 10px;
  background-color: var(--DARK);
  border-radius: 0px 0px 5px 5px;
}

.docDiv {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 10px 0px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--LIGHT);
}

pre {
  align-self: center;
  color: var(--PRETEXT);
  background-color: var(--DARKER);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 98%;
}

pre::selection {
  color: var(--DARKER);
  background-color: var(--PRETEXT);
}

pre a[href] {
  color: var(--PRETEXT);
}

pre a[href]:hover {
  background-color: var(--PRETEXT);
}

a[href] {
  color: var(--TEXT);
  font-weight: bold;
}

a[href]:hover {
  color: var(--DARKER);
  background-color: var(--TEXT);
}

.docChapter {
  width: 98%;
  align-self: start;
  margin-bottom: 10px;
  text-align: start;
  font-size: 26px;
  font-weight: bold;
  border-bottom: var(--DARKER) 5px solid;
  cursor: default;
  user-select: none;
}

.subDiv {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-bottom: 35px;
  border-radius: 5px;
}

.subDiv:last-child {
  margin-bottom: 0;
}

.docSection {
  margin-bottom: 10px;
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  cursor: default;
  user-select: none;
}

.docSubroutine {
  margin-bottom: 15px;
}

.docOption {
  margin-top: 15px;
}

.docCall {
  font-size: 18px;
  font-weight: bold;
}

.docText {
  padding-bottom: 10px;
}

.subText {
  margin-left: 1em;
}

.optionsTable {
  color: var(--TABLETEXT);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.optionsTable *::selection {
  color: var(--DARKER);
  background-color: var(--TABLETEXT);
}

.optionsTable a {
  color: inherit;
}

.optionsTable a:hover {
  background-color: var(--TABLETEXT);
}

th {
  text-align: start;
}

th,
td {
  padding-right: 3em;
}

#optionsTableDiv {
  width: 100%;
  background-color: var(--DARKER);
  border-radius: 5px;
}

.docErrorsDiv {
  margin-top: 5px;
  background-color: var(--DARK);
  padding: 5px;
  border-radius: 5px;
}

.docErrors {
  margin-top: 3px;
  text-align: start;
  font-size: 16px;
  font-weight: bolder;
  cursor: default;
  user-select: none;
}

.docDiagnostic {
  margin-top: 3px;
}

.docDiv ul {
  margin-left: 1em;
  list-style-position: inside;
}

.highlight {
  background-color: var(--TEXT);
  color: var(--DARKER);
  border-radius: 5px;
}

.highlight a[href] {
  color: var(--DARKER);
}

.highlight a[href]:hover {
  color: var(--TEXT);
  background-color: var(--DARKER);
}

.highlight tr {
  background-color: var(--TABLETEXT);
}

/* ====RELATIONS SECTION==== */
#relationsSection {
  background-color: var(--DARK);
  grid-column: 3;
}

/* ====DIAGNOSTICS==== */
.errorMessage {
  font-size: large;
  font-weight: bold;
}

.errorDetail {
  margin-bottom: 15px;
}

/* ====ULTRAWIDE==== */
@media only screen and (min-width: 1200px) {
  #navListDiv {
    border-left: black 2px solid;
  }

  #navSearchDiv {
    border-left: black 2px solid;
  }
}
